.container {
    display: block;
    background-color: lightgrey ;
    z-index: 1;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border;
    
}
.apex_desc{
    border: none;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 5px 5px black;

}
.title_box{
    background-color: black;
    color: white;
    padding : 5px;
    text-align: center;
    text-transform: uppercase;
    
}

body {
    background-color:rgb(153, 153, 153) ;
    margin: 0px;
}

nav{
    display: flex;
    background-color: brown;
    width: 100%;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: black;
    font-size: large;
}
 
.banniere{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    opacity: 70%;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 3;
    padding: auto  ;
}
.element{

    width: 33%;
    text-align: center;
}
.imgCarr{
    width: 40%;
}